.div_trans2 { background-color: rgba(0, 0, 0, 0.2); }
.div_trans5 { background-color: rgba(0, 0, 0, 0.5); }
.div_trans8 { background-color: rgba(0, 0, 0, 0.8); }
.div_trans9 { background-color: rgba(0, 0, 0, 0.9); }
.corner4 { border-radius: 15px; }
.corner5 { border-radius: 20px; }
.cursor-link { cursor:pointer; }

.__card {
  padding: 1rem;

  border: 1px solid rgb(197, 197, 197);
  /*background-color: white;*/
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
}
.__message {
  width: 100%;
  padding: .5rem;
  
  font-size: 1rem;
  text-align: center;
  color: rgb(102, 102, 102);

  background: rgb(248, 248, 249);
}
.__message.__message-success { background: rgba(0, 168, 84, .15); }
.__message.__message-danger { background: rgba(240, 65, 52, .15); }
.__message.__message-warning { background: rgba(255, 191, 0, .15); }
.__message.__message-info { background: rgba(16, 142, 233, .15); }
.__message.__message-dark { background: rgba(0, 0, 0, .15); }

.__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 999999;
}
