body {
  background-image: url('./../images/bg-licoreria.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4); 
  z-index: 1;
}

.div_trans2 { background-color: rgba(0, 0, 0, 0.2); }
.div_trans5 { background-color: rgba(0, 0, 0, 0.5); }
.div_trans8 { background-color: rgba(0, 0, 0, 0.8); }
.div_trans9 { background-color: rgba(0, 0, 0, 0.9); }
.corner4 { border-radius: 15px; }
.corner5 { border-radius: 20px; }
.cursor-link { cursor:pointer; }

.__loading-container {
  font-size: 2.5rem;
  font-family: 'shink';
}

.__mininav {  
  position: fixed;
  top: 1vmax;
  left: 1vmax;
  z-index: 10;
}
.__mininav > * {
  margin-right: 6px;
}
.__to-home {
  width: 60px !important;
  padding: 0 !important;
  line-height: 54px !important;
  font-size: 2rem !important;
}
.__to-home i {
  width: inherit;
  display: inline-block;
  text-align: center;
}

@font-face {
  font-family: 'shink';
  src: url('../webfonts/shink.otf');
}

